// common
$dark : #000;
$light : #fff;

@mixin mode($mode) {
    background-color: $mode;
    transition: 0.4s linear;
}

%dissabled {
    color: rgb(143, 143, 143);
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(230, 230, 230);
    cursor: default;
}

.image-box {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 10px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: contain;
        max-width: 500px;
        transform: translate(-50%, -50%);
    }

    &::after {
        content: '';
        display: block;
        padding-bottom: 100%;
    }
}



#root {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.App {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    @include mode($light);
}

div[class*=-wrap]:not(.header-wrap, .nav-wrap) {
    width: 94%;
    max-width: 500px;
    position: relative;
    top: 65px;
    padding-bottom: 70px;
    margin: 0 auto;
}

// header
.header-wrap {
    @include mode($light);
    position: fixed;
    width: 100%;
    z-index: 15;
    overflow: hidden;

    .header-inner {
        display: flex;
        padding: 15px;
        max-width: 500px;
        margin: 0 auto;
        justify-content: space-between;

        #logo {
            width: 130px;
            height: calc(69.67px / 2);

            a {
                width: 100%;
                height: 100%;
                display: block;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    position: absolute;
                }
            }
        }

        button {
            width: 30px;
            height: 30px;
            display: block;
            background-color: transparent;
            text-align: -9999px;
            background-image: url(../assets/images/icons.png);
            background-size: 120px;
            background-position-x: 30px;
            cursor: pointer;
        }
    }
}

// nav
.nav-wrap {
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
    @include mode($light);

    #nav {
        ul {
            display: flex;
            justify-content: space-between;
            max-width: 500px;
            margin: 0 auto;

            li {
                width: 33%;
                text-align: center;

                a {
                    display: inline-block;
                    width: 30px;
                    height: 30px;
                    margin: 0 auto;
                    background-image: url(../assets/images/icons.png);
                    background-size: 120px;
                    text-indent: -9999px;
                }

                &:nth-child(2) {
                    a {
                        background-position-x: -30px
                    }
                }

                &:nth-child(3) {
                    a {
                        background-position-x: -60px
                    }
                }
            }
        }
    }
}

// main
.main-wrap {
    ul {
        li {
            margin-bottom: 30px;

            .profile-box {
                padding: 8px 0;

                div {
                    display: flex;
                    align-items: center;

                    .profile-img {
                        display: inline-block;
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                        margin-right: 5px;
                        background-color: paleturquoise;
                    }

                    .profile-name {
                        font-weight: bold;
                    }
                }
            }

            .text-box {
                display: flex;

               div{
                    span.nickname {
                        font-weight: bold;
                        letter-spacing: 0;
                        display: inline-block;
                        margin-right: 5px;
                    }

                    display: -webkit-box;
                    font-size: 0.85rem;
                    line-height: 1.5rem;
                    max-height: 1.5rem;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    letter-spacing: -0.5px;

                    &.#{'show'} {
                        -webkit-line-clamp: unset;
                        max-height: 100%;
                    }
                }

                button {
                    color: #666;
                    padding: 0 3px;
                }
            }
        }
    }
}

// upload
.upload-wrap {
    .image-box {
        .upload-img-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            transform: translate(-50%, -50%);
            z-index: 10;

            label {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }

    .upload-text-box {
        margin-bottom: 10px;

        textarea {
            width: 100%;
            height: 70px;
            border: 0;
            resize: none;
            background-color: transparent;
            font-family: "NotoSansKR", "Roboto", sans-serif;
        }
    }

    button {
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: bold;
        border: 1px solid rgb(224, 224, 224);
        transition: 0.2s linear;

        &:disabled {
            @extend %dissabled;
        }
    }
}

// Dark
.App.dark {
    @include mode($dark);

    .header-wrap {
        @include mode($dark);

        .header-inner {
            #logo {
                a {
                    img {
                        bottom: 0;
                    }
                }
            }

            button {
                background-position-x: 30px;
                background-position-y: -34px;
            }
        }
    }

    .nav-wrap {
        @include mode($dark);

        #nav {
            ul {
                li {
                    a {
                        background-position-y: -34px;
                    }
                }
            }
        }
    }

    .main-wrap {
        color: #fff;

        button {
            color: #fff;
        }
    }

    .upload-wrap {
        textarea {
            color: #fff;
        }

        button {
            border: 1px solid #fff;
            color: #fff;

            &:disabled {
                @extend %dissabled;
            }
        }
    }
}